In [1]:
import numpy as np # linear algebra
import pandas as pd
import nltk
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [9]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [10]:
movies.shape

(4803, 20)

In [11]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
movies = movies.merge(credits,on='title')

In [13]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [15]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
import ast

In [17]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [18]:
movies.dropna(inplace=True)

In [19]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [22]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [23]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [24]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [25]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [26]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [27]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
245,714,Tomorrow Never Dies,A deranged media mogul is staging internationa...,"[Adventure, Action, Thriller]","[london england, england, spy, china, news bro...","[Pierce Brosnan, Jonathan Pryce, Michelle Yeoh]",[Roger Spottiswoode]
2403,31932,City of Ghosts,A con man (Dillon) travels to Cambodia (also o...,[Thriller],[],"[Matt Dillon, James Caan, Natascha McElhone]",[Matt Dillon]
597,52520,Underworld: Awakening,After being held in a coma-like state for fift...,"[Fantasy, Action, Horror]","[vampire, daughter, hybrid, child vampire, wer...","[Kate Beckinsale, Stephen Rea, Michael Ealy]","[Måns Mårlind, Björn Stein]"
3879,301748,The Opposite Sex,"A Bet's A Bet tells the story of Vince, New En...",[Comedy],"[bet, divorce, gender, battle of the sexes, li...","[Mena Suvari, Eric Roberts, Kristin Chenoweth]","[Jonathan Silverman, Jennifer Finnigan]"
3408,13001,Stargate: The Ark of Truth,SG-1 searches for an ancient weapon which coul...,"[Adventure, Science Fiction]","[wormhole, space travel, supernatural powers, ...","[Ben Browder, Amanda Tapping, Christopher Judge]",[Robert C. Cooper]

In [28]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [29]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [31]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [32]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [33]:
movies

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez],"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns],"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]","[BrianHerzlinger, JonGunn, BrettWinn]","[Ever, since, the, second, grade, when, he, fi..."

In [34]:
new_df = movies.drop(columns=['overview','genres','keywords','cast','crew'])
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [35]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [36]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [37]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return(" ".join(y))

In [38]:
new_df['tags'] = new_df['tags'].apply(stem)

In [39]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [40]:
# Inspect a sample of the tags column to check quality
new_df['tags'].sample(10).tolist()

['in the south of the unit state are take place confront between two group of student who have differ idea and are not abl to accept the one of the oponent. comedi drama music samuell.jackson laurencefishburn giancarloesposito spikele',
 "maggi peyton, the new owner of number 53 - the free-wheelin' volkswagen bug with a mind of it own - put the car through it pace on the road to becom a nascar competitor. comedi famili adventur fantasi romanc carrac victori car nascar womandirector lindsaylohan michaelkeaton mattdillon angelarobinson",
 'when a car hit young victor\' pet dog sparky, victor decid to bring him back to life the onli way he know how. but when the bolt-neck "monster" wreak havoc and terror in the heart of victor\' neighbors, he ha to convinc them that sparky\' still the good, loyal friend he was. anim comedi famili shyness stopmot blackandwhit retro dog animaldeath animallov charlietahan catherineo\'hara martinshort timburton',
 "after leav the prison, the dwarf crimin calvin sim join to hi moron brother perci to steal an expens huge diamond in a jewelri for the mobster walken. they are chase by the police, and calvin hide the stone in the purs of the execut vanessa edwards, whose husband darryl edward want to have a baby. perci convinc calvin to dress like a babi and be left in front of the edwards' hous to get insid the hous and retriev the diamond. darryl and vanessa keep calvin for the weekend and decid to adopt him, while walken threaten darryl to get the stone back. comedi crime babi adopt marriedcoupl smallperson crimin marlonwayan shawnwayan kerrywashington keenenivorywayan",
 "on a raini london night in 1946, novelist mauric bendrix ha a chanc meet with henri miles, husband of hi ex-mistress sarah, who abruptli end their affair two year before. bendrix' obsess with sarah is rekindled; he succumb to hi own jealousi and arrang to have her followed. drama bomb sex jealousi infidel obsess worldwarii passion romanc cheatingwif church ralphfienn stephenrea juliannemoor neiljordan",
 "a fanci garden parti turn into upper class prey when a coloni of killer wasp mutat into seven foot tall predators. comedi horror giantinsect matto'leari jessicacook lancehenriksen bennidiez",
 'a young profession woman (simpson) unwittingli becom the pawn of two busi execut in their bid to oust the head of a mega-conglomerate. comedi romanc stripper friend bestfriend jessicasimpson lukewilson rachaelleighcook scottmarshallsmith',
 "admir kirk and hi bridg crew risk their career steal the decommiss enterpris to return to the restrict genesi planet to recov spock' body. sciencefict action adventur thriller williamshatn leonardnimoy deforestkelley leonardnimoy",
 "a bore and domest shrek pact with deal-mak rumpelstiltskin to get back to feel like a real ogr again, but when he' dupe and sent to a twist version of far far away—wher rumpelstiltskin is king, ogr are hunted, and he and fiona have never met—h set out to restor hi world and reclaim hi true love. comedi adventur fantasi anim famili ogr 3d mikemy eddiemurphi camerondiaz mikemitchel",
 "base on the best sell autobiographi by irish expat frank mccourt, angela' ash follow the experi of young franki and hi famili as they tri against all odd to escap the poverti endem in the slum of pre-war limerick. the film open with the famili in brooklyn, but follow the death of one of frankie' siblings, they return home, onli to find the situat there even worse. prejudic against frankie' northern irish father make hi search for employ in the republ difficult despit hi have fought for the ira, and when he doe find money, he spend the money on drink. drama emigr irish-american hunger sociallydeprivedfamili famin alcohol brooklynnewyorkc emilywatson robertcarlyl joebreen alanpark"]

## Text Vectorization

In [ ]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-MiniLM-L6-v2')

c:\Users\abhin\Documents\King's\Semester 8\Agentic\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [42]:
# Generate embeddings for tags using the model
vectors = model.encode(new_df['tags'].tolist())
vectors = np.array(vectors)
vectors.shape

(4806, 384)

In [43]:
vectors

array([[-0.02822392,  0.08516718, -0.01580781, ...,  0.01688704,
        -0.00162791,  0.01503802],
       [-0.03375354, -0.07008388, -0.04966411, ..., -0.09782184,
        -0.033747  , -0.02745237],
       [-0.16609177,  0.0172913 , -0.08237007, ..., -0.03830443,
        -0.006062  , -0.00999059],
       ...,
       [-0.05800048, -0.06721421, -0.00049573, ...,  0.042966  ,
        -0.00477962,  0.03054776],
       [-0.0908305 ,  0.04311015, -0.00619187, ..., -0.04149291,
        -0.0007829 , -0.0460146 ],
       [-0.11541594,  0.01754909, -0.05140027, ...,  0.01602009,
        -0.01682953,  0.04515106]], shape=(4806, 384), dtype=float32)

In [44]:
vectors.shape

(4806, 384)

In [45]:
vectors[0]

array([-2.82239206e-02,  8.51671770e-02, -1.58078093e-02, -5.26892319e-02,
       -6.81019649e-02, -2.38042418e-02,  1.37467114e-02, -7.12645650e-02,
        3.04554980e-02,  3.97514887e-02,  8.57197046e-02, -1.54264554e-01,
       -1.57012809e-02, -3.81557271e-02, -3.28776725e-02, -1.18554356e-02,
       -4.00840752e-02,  7.10173184e-03, -2.15628427e-02,  1.38365636e-02,
       -2.95190755e-02, -2.72465702e-02, -1.40452990e-02,  3.00042182e-02,
       -3.37443724e-02,  4.89267521e-02, -1.34618615e-03,  2.00439710e-02,
        2.25287341e-02, -4.19568680e-02, -3.14073376e-02,  1.47276267e-01,
       -4.00094986e-02,  2.11651698e-02,  2.55409572e-02,  1.28724352e-01,
       -3.28806117e-02, -1.06372073e-01,  2.58097872e-02, -3.41285169e-02,
       -5.59362173e-02, -6.15357198e-02, -3.87521606e-04, -7.95364901e-02,
       -8.75479579e-02, -7.89648592e-02, -2.94923540e-02, -3.60553414e-02,
        8.23613852e-02, -3.16518396e-02, -8.97000879e-02, -1.69136785e-02,
       -1.91342842e-04,  7.83032924e-03,  5.88816069e-02, -1.15840815e-01,
        1.68354041e-03, -7.18881330e-03,  5.13617061e-02, -1.27667606e-01,
        1.68582965e-02, -2.79774554e-02,  1.47376722e-02,  1.76301820e-03,
       -1.88058726e-02, -3.45080383e-02, -5.75833619e-02,  2.20829099e-02,
       -2.28337273e-02,  8.47297069e-03,  2.05174889e-02, -1.62876230e-02,
       -1.65982842e-02,  3.37286815e-02, -1.54790971e-02,  8.92427638e-02,
        2.09940989e-02,  9.62431636e-03, -1.64049286e-02, -9.51235071e-02,
        1.30572930e-01, -1.92367546e-02, -7.11839721e-02,  4.28557955e-02,
        8.17934424e-03,  4.09318432e-02, -4.31990810e-02,  2.01301631e-02,
        7.30878264e-02,  3.31084207e-02, -6.07567653e-02, -2.77992748e-02,
        6.42488450e-02, -2.32417732e-02, -2.37272698e-02,  1.84122883e-02,
       -2.40113735e-02,  2.00983007e-02, -7.43528679e-02,  5.93922958e-02,
        1.04444176e-01, -1.08347517e-02, -2.58583855e-02,  2.91497707e-02,
       -1.66875904e-03, -3.55065167e-02, -9.68265720e-03, -7.60204718e-02,
        1.46352481e-02, -5.42190205e-03, -7.29397312e-02, -5.80068082e-02,
       -9.41746607e-02, -3.14356834e-02, -5.41600920e-02,  6.39468357e-02,
       -2.96209995e-02,  5.53245358e-02,  4.28952184e-03, -3.15164663e-02,
        1.52027386e-03, -1.09178059e-01, -8.72861147e-02,  2.57151704e-02,
        5.55024333e-02, -4.61104251e-02, -5.34681752e-02,  1.97165521e-32,
        5.61042950e-02,  1.74825196e-03,  4.27742861e-02,  2.48074951e-03,
        7.84615278e-02, -3.52619379e-03, -3.33981253e-02,  5.77697903e-02,
       -1.15405485e-01, -8.45343098e-02, -1.24411769e-01, -4.18589823e-02,
       -2.91246939e-02,  5.18635698e-02,  1.03275366e-02,  2.13621394e-03,
       -2.58808583e-02, -5.08617833e-02,  9.90904681e-03, -6.39564991e-02,
        3.64565477e-02, -1.77289974e-02, -1.00998230e-01, -5.00352867e-02,
        4.54310179e-02, -1.46747045e-02, -5.95483519e-02, -4.18622755e-02,
       -3.18740644e-02,  7.22831711e-02, -3.70322876e-02,  4.06160299e-03,
        1.41358264e-02,  3.56262550e-02,  4.78018336e-02,  5.60508259e-02,
       -2.37070639e-02, -4.32299003e-02, -5.39731346e-02,  1.22221652e-02,
        7.29227439e-02,  3.18467878e-02,  1.21324800e-03,  3.62767540e-02,
        7.06810039e-03,  6.90743513e-03,  5.17648570e-02, -1.83533877e-02,
        9.30560380e-02,  7.88329691e-02, -1.70566272e-02,  9.23733506e-03,
        2.25027092e-02, -6.14786968e-02,  5.50923757e-02, -4.38858755e-02,
       -1.71713643e-02,  2.93901544e-02, -4.42273393e-02,  6.03340082e-02,
       -3.60051915e-02, -4.23430838e-02, -1.44427205e-02,  4.97110374e-02,
        5.33138514e-02,  2.67031714e-02,  1.60650741e-02,  1.84987150e-02,
       -8.46646633e-03, -1.88931059e-02, -7.72298053e-02, -1.85814369e-02,
        1.11784870e-02, -6.33669319e-03,  3.95025164e-02,  2.18697209e-02,
        5.25639094e-02, -8.15540031e-02,  1.10391639e-02, -5.01413122e-02,
       -7.98934326e-02, -3.58359925e-02, -1.50749378e-03,  2.59777345e-02,
       -2.71131992e-02,  5.64201211e-04,  5.13318293e-02, -1.24389204e-04,
        5.07174172e-02,  1.32598113e-02,  3.58968340e-02, -8.00251141e-02,
        5.58915362e-02,  2.90152640e-03, -1.03637621e-01, -1.82188444e-32,
       -4.72991243e-02,  2.39607412e-02, -1.19475443e-02, -3.69619131e-02,
        8.52368847e-02, -1.57465693e-02, -4.22678068e-02,  8.95950571e-03,
       -7.67798275e-02,  3.04404125e-02, -7.87168667e-02, -2.69565675e-02,
        9.71980765e-02, -7.95612950e-03, -4.80670631e-02,  2.52636112e-02,
        7.61040747e-02, -2.26606131e-02, -5.68304434e-02,  5.48251159e-02,
        3.14067565e-02,  6.46570884e-03,  5.41630946e-03, -4.08564955e-02,
       -2.46951729e-02,  8.66342038e-02,  1.65377527e-01, -8.25926568e-03,
       -6.40930906e-02,  4.67974991e-02,  1.28792906e-02, -3.61568369e-02,
       -5.28586470e-02, -3.24649289e-02,  2.21908055e-02,  5.40911369e-02,
        6.55460209e-02,  1.92144345e-02, -2.22301893e-02,  1.72553658e-02,
       -3.69417854e-02,  2.57754978e-02, -9.70339179e-02,  5.55789061e-02,
       -5.19143157e-02, -1.85101852e-02,  2.47438736e-02,  8.60077739e-02,
       -6.49298355e-02, -5.71646215e-03, -3.71134281e-02,  3.67915407e-02,
       -5.23417431e-04,  6.64613768e-02,  2.53923796e-02,  1.26140052e-02,
       -1.85979977e-02,  3.49523313e-02, -1.46198198e-02, -9.59767215e-03,
        7.26267695e-03, -5.01681911e-03, -2.52441149e-02,  5.34233823e-02,
        1.84510853e-02,  4.46693785e-03, -2.03259382e-02,  9.46618691e-02,
       -1.13679513e-01,  2.11182926e-02,  1.11936526e-02, -8.12821388e-02,
       -1.67752832e-01, -2.64337426e-03, -1.64943822e-02,  1.40351867e-02,
        1.22792190e-02, -8.81283209e-02,  4.73323464e-02,  5.59216440e-02,
       -9.05005448e-03, -2.11725608e-02, -3.86134572e-02,  6.74088672e-02,
       -3.25951865e-03,  3.34311724e-02,  1.64307747e-02,  4.81260568e-02,
       -2.92973872e-03,  3.60656418e-02,  2.04805620e-02, -7.76070682e-03,
        5.41619910e-03,  2.32306458e-02,  2.13198289e-02, -6.56780017e-08,
        2.87491307e-02,  3.38472798e-02, -3.67700718e-02,  2.93698031e-02,
        5.47130592e-02, -1.15042072e-04, -1.40112583e-02, -1.36124948e-02,
       -2.67835464e-02,  8.23355019e-02, -2.45296508e-02, -1.91528257e-02,
        1.26582924e-02, -2.21097171e-02,  7.16140792e-02,  1.92788374e-02,
        7.98906162e-02,  4.91427667e-02, -7.33212233e-02, -2.87616681e-02,
       -7.51954364e-03,  2.97075193e-02,  2.99056619e-02, -8.88292342e-02,
       -1.17701478e-02,  9.05153975e-02,  1.11314785e-02, -5.08997478e-02,
        6.58093095e-02,  2.91184783e-02, -5.29193282e-02,  3.32577853e-03,
       -1.22875020e-01, -6.86935857e-02, -5.83746135e-02,  2.96171326e-02,
       -3.33859175e-02, -4.59982492e-02,  1.46593498e-02, -1.60241686e-02,
        6.89130276e-02,  9.79949310e-02, -1.69670559e-03,  8.19644853e-02,
        2.58339904e-02,  1.08264640e-01,  6.55421913e-02, -1.03206813e-01,
        1.55384019e-02,  5.49879484e-03, -1.04107372e-02, -2.66691037e-02,
        4.76861149e-02,  1.73610728e-02, -1.71960425e-02,  2.08018236e-02,
       -6.75830543e-02,  1.22694731e-01,  7.67947454e-03,  7.99790174e-02,
        6.68971464e-02,  1.68870445e-02, -1.62790820e-03,  1.50380181e-02],
      dtype=float32)

In [46]:
stem("In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron")

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
# Calculate cosine similarity using new vectors
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [49]:
similarity.shape

(4806, 4806)

In [50]:
similarity[1]

array([0.35375997, 0.99999994, 0.33076552, ..., 0.335469  , 0.27829942,
       0.283527  ], shape=(4806,), dtype=float32)

In [51]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [52]:
recommend('Batman')

Batman
The Dark Knight
Batman Forever
Batman Begins
The Dark Knight Rises

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
import pickle

In [57]:
pickle.dump(new_df.to_dict(), open('movie_dict.pkl', 'wb'))

In [58]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], shape=(4806,), dtype=object)

In [59]:
pickle.dump(similarity,open('similarity.pkl','wb'))